canvas {
    border-width: 1px;
    border-style: solid;
    border-color: Black;
    width: 100%;
    height: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.container{
    display: table;
    width: 100%;
  }

.header{
    border-width: 1px;
    border-style: solid;
    border-color: Black;
    vertical-align: top;
}

.footer{
    border-width: 1px;
    border-style: solid;
    border-color: Black;
}

.content{
    border-width: 1px;
    border-style: solid;
    border-color: Black;
}

.pane{
    margin: 0.4em;
    padding: 0.3em;
}

.view{
    width: 100%;
    height: 100%;
}

.controls{
    width: 100%;
    height: auto;
}

/*#HeaderPane {
}*/

#TileUI {
    width: max-content;
    height: 100%;
}

#PaletteUI{
    width: min-content;
    height: 100%;
}

#Controls{
    height: auto;
}
