canvas {
    border-width: 1px;
    border-style: solid;
    border-color: Black;
    width: 100%;
    height: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.container{
    /* float: left; */
    display: table;
    width: 100%;
    height: auto;
  }

.header{
    width: 100%;
    height: auto;
    vertical-align: top;
}

.footer{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.view{
    width: 100%;
    height: 100%;
}

.controls{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*#HeaderPane {
}*/

#TileUI {
    width: 75%;
    height: 100%;
}

#PaletteUI{
    width: 25%;
    height: 100%;
}

#Controls{
    height: auto;
}
